html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
	margin: 0px;
	padding: 0px;
	background: #0C0C0C;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #B0B0B0;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h2
{
	font-weight: 300;
	font-size: 2.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #FFFFFF;
}

table {
	border-collapse: collapse;
	width: 100%;
 }

th, td{
	padding: 8px;
	vertical-align: top;
}

 tr:nth-child(even) {
	background-color: #141414;
 }

 tr:hover {background-color: rgb(77, 77, 77);}

.border{
	border-right: 1px solid;
 }

/** 	------------------------------------------------------- added code styling------------------------------------------------------------------- **/
/** original style copied from https://stackoverflow.com/a/48694906  modified by Aleksi Myllymäki**/
code{
	font-family: monospace;
	color: #FC6103;
}

pre{
	background: #f4f4f4;
    border-left: 3px solid #FC6103;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 10pt;
    line-height: 1.0;
    margin-bottom: 1.0em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.1em;
    display: block;
    word-wrap: break-word;
}

a:hover {
	text-decoration: none;
}

/** 	------------------------------------------------------- added figure & figcaption ------------------------------------------------------------------- **/
/** base for this is from https://www.w3schools.com/tags/tag_figcaption.asp */
figure {
  /**border: 1px #cccccc solid;*/
  padding: 5px 0px 0px 0px;
  margin: auto;
}

figcaption {
  padding: 0px 0px 6px 0px;
  text-align: center;
  font-size: 8pt;
}

a img {
	border: none;
}

img.border {
	border: 5px solid rgba(255,255,255,1);
}

/** 	------------------------------------------------------- added transparent border------------------------------------------------------------------- **/
img.border2{
	border: 5px solid rgba(255,255,255,0);
}

img.alignleft {
	float: left;
	margin-right: 30px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 100px auto;
}

#wrapper {
	overflow: hidden;
}

.wide #wrapper {
	overflow: auto;
}

.container {
	width: 1000px;
	margin: 0px auto;
}
 
.wide .container {
	width: 1600px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

#banner {
	margin-bottom: 30px;
}

/** HEADER */

#header-wrapper
{
	overflow: hidden;
	height: 80px;
	margin-bottom: 40px;
}

.wide #header-wrapper
{
	overflow: visible;
	height: 80px;
	margin-bottom: 40px;
}

#header {
	overflow: hidden;
}

/** LOGO */

#logo {
	float: left;
	width: 300px;
	height: 80px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	padding-left: 40px;
	text-decoration: none;
	font-size: 1.40em; 												/** changed from 1.50em**/
	font-weight: 300;
	color: #FFFFFF;
}

/** MENU */
#menu {
	float: right;
	height: 80px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	height: 80px;
	padding: 0px 30px;
	line-height: 80px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

#menu a:hover{
	text-decoration: none;
	background: #FC6103;
}

#menu .active
{
	background: #FC6103;
}

/** PAGE */

#page {
	overflow: hidden;
	margin-bottom: 20px;
}

/** CONTENT */

#content {
	float: left;
	width: 600px;
	padding: 40px;
	background: rgba(0,0,0,0.70);
}

.wide #content {
	float: left;
	width: 1600px;
	padding: 20px;
	background: rgba(0,0,0,0.70);
}

#content h2 a
{
	display: block;
	padding: 0px 0px 20px 0px;
	text-decoration: none;
	color: #FFFFFF;
}

#content #box1
{
	margin-bottom: 30px;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 220px;
	padding: 40px;
}

#sidebar h2
{
	padding: 0px 0px 20px 0px;
	color: #FFFFFF;
}

#sidebarFinal {
	
	height: 200px;
    width: 150px;
    position: fixed;
    top: 200;
    left: 950px;
}

/* Footer */

#footer {
	overflow: hidden;
	margin: 20px auto 0px auto;
	padding: 20px 0px;
	background: rgba(0,0,0,1);
}

#footer p {
	text-align: center;
	font-size: 12px;
}

#footer a {
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

ul.style1 li {
	clear: both;
	margin-bottom: 25px;
	padding: 20px 0px 40px 0px;
	border-top: 1px solid #000000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style1 h3 {
	display: block;
	padding: 10px 0px 10px 0px;
	font-size: 14px;
	color: #FFFFFF;
}

ul.style1 p {
	line-height: 150%;
}

ul.style1 .button-style {
	float: left;
	margin-top: 0px;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}

/** LIST STYLE 2*/
ul.style2 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

ul.style2 li {
	clear: both;
	padding: 20px 0px 0px 0px;
	border-top: 1px solid #000000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style2 h3 {
	display: block;
	padding: 10px 0px 10px 0px;
	font-size: 14px;
	color: #FFFFFF;
}

ul.style2 p {
	line-height: 150%;
}

ul.style2 .button-style {
	float: left;
	margin-top: 0px;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #000000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.10);
}

ul.style3 a {
	text-decoration: none;
	color: #FFFFFF;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}

ul.style3 .date {
	width: 87px;
	background-color: #FC6103;
	margin-top: 20px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
}

ul.style3 .first .date
{
	margin-top: 0px;
}

.button-style
{
	display: inline-block;
	background-color: #FC6103;
	margin-top: 20px;
	padding: 5px 30px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}

.entry
{
	margin-bottom: 30px;
}
